body{
    background: white;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;

}
*{
    box-sizing: border-box;
}
:root {
    --none: #00000000;         /* Noir */
    --noir: #000000;         /* Noir */
    --orange: #ff7f00;       /* Orange */
    --vert: #008000;         /* Vert */
    --blue: #0011ff;    /* Bleu ciel */
    --blanc: #ffffff;        /* Blanc */
    --gray: #eee9e9;        /* Blanc */
  }
.container{
    margin-bottom: 50px;
    overflow-x: hidden;
}
.container main:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: black;
    border: 2px solid red;
    color: white;
    text-align: center;
}

.container main:nth-child(2), menu, #Indi{
    display: none;
}
img{
    width: 100%;
}

h1{
    font-size: 36px;
}
p{
    font-size: 14px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 1px;
    margin: 2px;
}
ul li{
    list-style: none;
    padding: 1px;
    margin: 2px;
}
.btnscroll{
    display: none; 
    position: fixed; 
    bottom: 50px; 
    right: 5px; 
    padding: 10px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 800px){
    /* Style de la barre de défilement */
::-webkit-scrollbar {
    width: 5px; /* Largeur de la barre de défilement */
}

/* Style de la piste de défilement */
::-webkit-scrollbar-track {
    background: #aaaaaa; /* Couleur de la piste */
    border-radius: 70px;
}

/* Style du curseur de défilement */
::-webkit-scrollbar-thumb {
    background: #0509ff; /* Couleur du curseur */
    border-radius: 70px;
}

/* Style du curseur de défilement au survol */
::-webkit-scrollbar-thumb:hover {
    background: #ff3c00; /* Couleur du curseur au survol */
}

}



@media screen and (max-width: 800px){
    .container{
        border: 1px solid lime;
        margin-top: 50px;
        margin-bottom: 50px;
        position: relative;
        display: block;
        overflow-y: auto;
    }
    .container main:nth-child(1){
        display: none;
    }
    
    .container main:nth-child(2), menu, #Indi{
        display: block;
      

    }
}

@media screen and (max-width: 800px){
    .alert{
        display: none;
        margin: 10px auto;
        max-width: 300px;
        min-width: 200px;
        width: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        background: black;
        color: var(--blanc);
        transform: translate(-50%, -50%);
        border-radius: 10px;
        z-index: 90;
        -webkit-box-shadow: 1px 1px 16px 0px rgba(9,0,255,1);
    -moz-box-shadow: 1px 1px 16px 0px rgba(9,0,255,1);
    box-shadow: 1px 1px 16px 0px rgba(9,0,255,1);
      }
      .btnconnection{
        border-radius: 10px;
        background-color: var(--blanc);
        margin:5px auto 10px auto;
        display: block;
      }
      .close-button{
        border: 1px solid blue;
        padding: 5px 8px;
        background-color: black;
        color: var(--orange);
        font-size: 18px;
        height: 20px;
        max-width: 20px;
        min-width: 20px;
        cursor: pointer;
      }
      .alertTitle{
        font-size: 18px;
        color: blue;
        text-align: center;
      }
      .alertp{
        font-size: 14px;
        text-align: center;
      }
    
}

@media screen and (max-width: 460px){
    #Indi{
        box-sizing: border-box;
        position: relative;
    }

    .card{
        border: 2px solid lime;
    }
}


@media screen and (max-width: 800px){
    /*menu de mon site web*/

menu{
    background-color: rgb(104, 104, 104);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin: 0px;
    z-index: 10;
}
.menutop{
    position: relative;
}

.menutop{
    width: 100%;
    height: 49px;
    border: 2px solid blue;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.topbtn{
    background: white;
    width: max-content;
    padding: 3px 10px;
}

.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle i{
    font-size: 18px;
}
.toggle i:nth-child(2){
    display: none;
}

.sidenav{
    display: none;
    background-color: var(--orange);
    position: absolute;
    left: 0;
    height: 100vh;
    max-width: 70%;
    min-width: 60%;
    margin-top: 50px;
}

.art-myuser{
    background-color: var(--blanc);
    padding: 10px;
}
.art-myuser h1{
    font-size: 18px;
    margin: 5px 2px;
}
.art-myuser img{
    width: 50px;
    display: block;
    margin: auto;
    display: none;
}
.art-myuser p{
    margin: 2px;
}

.sideItem{
    padding: 5px 10px;
    color: white;
}
.sideItem p{
    border-bottom:1px solid white ;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.sideItem p a{
    font-size: 16px;
    color: white;
}







/*Fin menu de mon site web*/

/* footer de mon site*/
.mobile-footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 20;
    transform: translate(-50%);
    background-color: black;
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .footer-item {
    margin: 0 10px;
    text-decoration: none;
    color: #555555;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* Additional styles for the icon in the second link */
  .footer-item i {
    font-size: 18px;
    margin-right: 5px;
  }
  /*fin footer de mon site*/


}




/*Connection et inscription*/
@media screen and (max-width: 800px){
    /* Formulaire d'inscription*/

.formulaire{
    display: none;
    background-color: var(--noir);
    min-width: 250px;
    max-width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    color: white;
    z-index: 1;
}
#signup{
    display: none;
}

.formulaire .btninscription{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--blanc);
}

.formulaire .btninscription button{
    gap: 10px;
    width: 100%;
    background-color: var(--none);
    color: white;
    cursor: pointer;
}
.formulaire .input{
    border-bottom: 1px solid var(--blanc);
    margin-top: 20px;
    margin-bottom: 10px;
}
.formulaire .input input{
    padding: 8px;
    background: none;
    border: none;
    color: var(--blanc);
    width: 100%;
}
.formulaire .input input:focus, .formulaire select{
    outline: none;
}
.formulaire select{ 
    padding:8px ;
    background-color: var(--none);
    border: none;
    color: blue;
}

.form-section.active {
    display: block;
    border: 2px solid;
  }
  
  .form-section{
    display: none;
    border: 2px solid;
    padding: 10px;
    margin-top: 10px;
    border-radius: 16px;
  }
  
  
  
  .logbtn{
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Ajoute un espacement entre les boutons */
    margin-top: 10px; /* Ajoute un espacement en haut des boutons */
  }
  .logbtn button{
    border-radius: 20px;
    width: 100%;
    display: inline-block;
    color: rgb(0, 0, 0);
  }
  .logbtn .first{
    display: inline-block;
    color: rgb(0, 0, 0);
  }
  .formulaire button{
    border-radius: 20px;
    width: 100%;
    display: inline-block;
    color: rgb(0, 0, 0);
  }

/*input file image*/
.image{
    display: flex;
    align-items: center;
    width: max-content;
    margin-top: 10px;
}
.image img{
    height: 50px;
    width: 50px;
}
#imageInput {
display: none; /* Hide the default file input */
}

.custom-file-input {
width: max-content;
height: 30px;
display: inline-block;
padding: 10px 15px;
font-size: 16px;
text-align: center;
font-weight: bold;
cursor: pointer;
background-color: var(--none);
color: #fff;
border: none;
border-radius: 5px;
}

.custom-file-input:hover {
background-color: #45a049;
}

.custom-file-input:active {
background-color: #398439;
}
label{
display: inline-block;
}

/*fin */


.flag {
    font-size: 38px;
    height: 33px;
    margin-right: 0px;
    background-color: gray;
}

#login{
    border: 1px solid white;
    border-radius: 10px;
    display: block;
    padding: 10px;
}
}


/*formulaire chaine*/
@media screen and (max-width: 800px){
    .formulairechaine{
        display: none;
        background-color: rgb(239, 241, 241);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 19;
        width: 300px;
        height: auto;
        padding: 10px;
        border: 1px solid green;
        border-radius: 10px;
    }
    .formulairechaine h3{
        color: green;
        text-align: center;
        margin: 3px;
    }
    .formulairechaine h4{
        color: rgb(231, 90, 8);
        text-align: center;
        margin: 5px;
        margin-bottom: 10px;
    }
    .formulairechaine .input{
        display: block;
    }
    .formulairechaine .input div{
        width: 100%;
        display: block;
        border: 1px solid green;
        overflow: hidden;
        margin: 5px auto;
    }
    .formulairechaine .input div input, .formulairechaine .input div select{
        width: 100%;
        padding: 6px;
        padding-right: 20px;
        
    }
    .formulairechaine .input div input:focus{
        list-style: none;
        border: 0px;
        outline: none;
    }
    .formulairechiane .input .formBtn{
        border: 0px;
        display: flex;
        justify-content: space-between;
    }
    .formulairechaine .input .formBtn button{
        width: 100%;
        margin: 5px;
    }
    .formulairechiane .input .formBtn button:nth-child(1){
        background-color: green;
        margin-right: 5px;
    }
    .formulairechiane .input .formBtn button:nth-child(2){
        background-color: red;
        width: max-content;
    }
    
}
